build/
architecture/
cmake-build-*/
.vscode/
.idea/
final*
*.swp
*.swo
ex5
ex10
ex20
ex25
text
tests.cpp
*.o
*.obj
*.exe
*.out
*.app
*.hpp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json